@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}


.container{
    display: flex;
    flex-direction: column;
}

/* ---------------------SVG---------------*/
.line-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 900px;
    text-align: center;
    transform: translate(-20%, -10%);

} 
  
svg{
      display: inline-block;
      height: 100%;
}

/* ---------------------CONTAINER---------------*/

.container-header{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #FFA1CF;
}
.div1{
    background-color: #D885A3;
    background-position: center;
    background-size: cover;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCE2DB;
    width: 100%;
    height: 100%;
}

.btnLetsGo{
    font-family: 'Cormorant Garamond', serif;
    border: 1px solid #ffffff;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(240, 234, 234);
    padding: 30px 10px;
    text-transform: uppercase;
    border-radius: 50%;
    animation: resplandor 2s linear infinite;
}

@keyframes resplandor{
    0%{
      box-shadow: 0 0 0 0 rgb(252, 251, 251),0 0 0 0 rgb(255, 254, 254);
    }
    30%{
      box-shadow: 0 0 0 30px rgba(253, 251, 251, 0), 0 0 0 0 rgba(255, 254, 254, 0.6);
        
    }
    65%{
        box-shadow: 0 0 0 40px rgba(150, 149, 149, 0), 0 0 0 40px rgba(177, 174, 174, 0);

    }
    100%{

        box-shadow: 0 0 0 0 rgb(240, 234, 234, 0),0 0 0 0 rgb(240, 234, 234, 0);
    }
}


 
/* ---------------------NAV---------------*/

.navbar{
    position: absolute;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: -1px 5px 5px -1px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px 5px 5px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 5px 5px -1px rgba(0,0,0,0.37);
    transition:1.5s, background 5.5s;
    transition:0.5s, height 1.5s;
}
.navbar.active{
    position: fixed;
    z-index: 10;
    background-color: #f5c4d6;
    height: 30px;
}
.navbar.active nav ul li a{
    color: white;
    font-size: 16px;
}

.logo{
    cursor: pointer;
    position: fixed;
    display: none;
}
.show{
    padding-top: 25px;
    display: block;
    width: 40px;
}
.navbar nav{
    margin-bottom: 20px;
}
.navbar nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}
.navbar nav ul li a{
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
  
  
/* ---------------------HEADER CONTENT------------------*/

.header-text h3{
   font-family: 'Cormorant Garamond', serif;
   font-size: 50px;
   text-align:end;
   padding-bottom: 10px;
   color: #d93e77;
}

.header-text p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #d93e77;
    margin-bottom: 40px;
}

.header-text{
  width: 700px;
  border-bottom:1px solid #d93e77;
  display: flex;
  flex-direction: column;
}

.logoDiv1{
    padding-top: 30px; 
    padding-left: 20px;
    width: 500px;
    cursor: pointer;
    z-index: 1;
    animation: logo 5s  1;
}

@keyframes logo{
    0%{
        transform: translate(-100%, 30%);
      }
      30%{
        transform: translate(100%, 30%);
      }
    
}


/* ---------------------Seccion 1 - Informacion 1------------------*/

.seccion-1{
    width: 100%;
    height: 100vh; 
}

.information1{
    background-color: #D75281;
    display: grid;
   grid-template-columns: 1fr 1fr;
}

/* .h2Information{
    color: rgba(255, 255, 255, 0.669);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.543);
    width: 100%;
    text-align: end;
    letter-spacing: 3px;
} */

.seccion-1-img{
    width: 100%;
    height: 100vh;
    background:center fixed url("./images/img111.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion-1-text{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    box-shadow: -44px -1px 29px -35px rgba(0,0,0,0.33) inset;
   -webkit-box-shadow: -44px -1px 29px -35px rgba(0,0,0,0.33) inset;
   -moz-box-shadow: -44px -1px 29px -35px rgba(0,0,0,0.33) inset;
    z-index: 1;
}
.s1-t1{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 100px;
}
.s1-t2{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
} 

.seccion-1-text h1{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 35px;
    text-align: justify;
    border-bottom:1px solid rgba(255, 255, 255, 0.519);
}
.seccion-1-text p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.809);
    text-align: left;
    padding-bottom: 30px;
    margin-right: 40px;

}

/* ---------------------Seccion 1 - Informacion 2------------------*/

.seccion-2{
    width: 100%;
    height: 100vh;
}

.information2{
    background-color: #D75281;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.seccion-1-1-text{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    box-shadow: -44px -1px 29px -35px rgba(0,0,0,0.33) inset;
   -webkit-box-shadow: -44px -1px 29px -35px rgba(0,0,0,0.33) inset;
   -moz-box-shadow: -44px -1px 29px -35px rgba(0,0,0,0.33) inset;
    z-index: 1;

}
.s2-t1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.s2-t2{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
} 

.seccion-1-1-img{
    width: 100%;
    height: 100vh;
    background:center fixed url("./images/fondo3333.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion-1-1-text h1{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 35px;
    text-align: justify;
    border-bottom:1px solid rgba(255, 255, 255, 0.519);
}

.seccion-1-1-text p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.809);
    text-align: left;
    padding-bottom: 30px;
    margin-right: 40px;
}

/* ---------------------seccion 3------------------*/

.seccion-3{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    width: 100%;
    height: 100vh;
    background-color: #b65477; 
}

.s3-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    box-shadow: -2px 27px 19px -21px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: -2px 27px 19px -21px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: -2px 27px 19px -21px rgba(0,0,0,0.25) inset;
}

.s3-header h2{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin-left: 30px;
    margin-bottom: 20px;
}
.s3-header p{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 23px;
    text-align: start;
    margin-left: 30px;
    margin-bottom: 20px;

}

.img-S3{
    width: 100%;
    background:center fixed url("./images/fondoS3H.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-s3{
    width: 100%;
    background-color: #d27898;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
}

.symton{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    background-color: #e5789e;
    padding: 20px;
    box-shadow: 1px 3px 50px -1px rgba(0,0,0,0.44);
    -webkit-box-shadow: 1px 3px 50px -1px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 3px 50px -1px rgba(0,0,0,0.44);
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition:1.5s, background 1.5s;
    
}
.symton:hover{
    background: #b35c7a;
}
.symton h4{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
}


.symton p{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 30px;
}

.btnCardS{
    font-family: 'Cormorant Garamond', serif;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 15px;
    background: #b35c7a00;
    color: white;
    padding: 8px;
    margin-top: 10px;
    transition:1.5s, background 1.5s;
    
}
.btnCardS:hover{
    background: white;
    color: #b35c7a;
}

.img-S3-2{
    width: 100%;
    background:center fixed url("./images/fondoS3H.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

/* ---------------------seccion 4------------------*/

.seccion-4{
    background: #f8b0ca;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   padding-top: 0px;
}

.img-s4{
   display: flex;
   justify-content: center;
   align-items: center;
   transition:1.5s, width 1.5s;

}
.img-s4:hover{
    z-index: 10;
    transform: scale(1.15);
}


.s4-1{
    width: 320px;
    height: 420px;
    position:absolute;
    box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
-webkit-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
-moz-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
}
.s4-2{
    width: 300px;
    height: 360px;
    box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
}
.s4-3{
    width: 320px;
    height: 400px;
    box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
}
.s4-4{
    width: 320px;
    height: 400px;
    box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
}
.s4-5{
    width: 300px;
    height: 360px;
    box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 3px 48px -14px rgba(0,0,0,0.78);
}

.seccion-4 h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 80px;
    color: white;
    text-align: end;
}

.seccion-4 h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    color: white;
    text-align: end;
}
.textS4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.mar{
    color: #fb5592;
}




@media all and  (max-width:500px){
    .container-header{
        display: none;

    }

 .logoDiv1{
    width: 10px;
 }
}
